html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 0; 
}

h2,
h3 {
    font-family: 'Jockey One', sans-serif;
}

p {
    font-family: Oswald, sans-serif;
}


/* 
SPORTS
==============================================================
*/
.gallery {
    background: rgb(245, 245, 245);
    color: #242926;
}

.content-container {
    padding: 120px 50px;
}

.gallery h2 {
    text-align: center;
    padding-bottom: 80px;
    font-size: 45px;
    letter-spacing: 0.1em;
}

.gallery h3 {
    font-size: 22px;
    letter-spacing: 0.1em;
    margin: 100px 0 10px;
}

.thumbnail {
    position: relative;
    color: white;
    margin: 50px 0;
    overflow: hidden;
}

.img {
    width: 100%;
}

.content {
    position: absolute;
    bottom: 3px;
    padding: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    width: 100%;
}

.thumbnail > img {
    transform: scale(1);
    transition: 400ms;
}
.thumbnail:hover > img {
    transform: scale(1.1);
    transition: 400ms;
}

@media (min-width: 768px){
    .thumbnail-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .thumbnail {
        margin: 0;
    }
}